# Environnements virtuels
.venv/
venv/
env/

# Fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de Base de données (Générés localement)
soc_alerts.db
soc_events.db
*.sqlite3

# Captures réseau
*.pcap

# Logs et Fichiers temporaires
*.log
KDDTest+.txt
_final_check.py

# Fichiers d'environnement (Mots de passe, API keys)
.env
